@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Nicholas Le  
   Date: 11/30/18      
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/
a#nav-toggle {
    display: none;
}

/* HTML and Body Styles */
/* Adds a background image to the page */
html {
    background: url(jb_back2.png) no-repeat;
    background-size: 100%;
    width: 100%;
}

body {
    min-width: 320px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    width: 95%;
    background-color: white;
}

/* Changes the size of the logo */
header>img {
    display: block;
    width: 500px;
    height: 150px;
    margin: 0px;
    /* margin-left: 190px; */
}

/* Article Styles */
/* adds a margin to the description list */
article p {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

article>dl {
    margin-left: 10px;
    border: 2px solid violet;
}

/* Section Styles */
/* Separates the paragraphs into 3 sections */
section#main {
    -webkit-flex: 3 1 340px;
    flex: 3 1 340px;
}

section#box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

section#box article {
    -webkit-flex: 1 1 150px;
    flex: 1 1 150px;
}

/* Nav Styles */
/* Attaches the nav to the logo and changes the background color */
.horizontal {
    background-color: white;
    text-align: center;
    margin-left: 60px;
}

/* Drop Menu Styles */
/* Creates a drop down menu */
ul.submenu {
    display: none;
}

a.dropmenu:hover+ul.submenu,
ul.submenu:hover {
    display: block;
}

ul.mainmenu>li {
    float: left;
    width: 16%;
    position: relative;
}

ul.submenu {
    width: 100%;
    box-shadow: rgb(51, 51, 51) -5px 5px 15px;
    position: absolute;
    background-color: rgb(49, 182, 182);
}


/* footer Styles */
/* Makes the footer transparent and centers it */
footer {
    padding: 8px;
    color: rgba(21, 17, 17, .6);
    margin: 1px;
    text-align: center;
}

/* Media Query */
/* ==========================
   Mobile Styles: 0px to 480p
   ==========================
*/
@media only screen and (max-width: 480px) {
    nav.horizontal a {
        font-size: 1.5em;
        line-height: 2.2em;
        background-color: rgba(21, 17, 17, 0)
    }

    a.nav-toggle {
        display: block;
    }

    nav ul.mainmenu {
        display: none;
    }

    a.nav-toggle:hover+ul,
    nav ul:hover {
        display: block;
    }

    article>dl {
        display: none;
    }

    article#order {
        -webkit-order: 100;
        order: 100;
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {}

/* ----------- Galaxy S7 Edge ----------- */
/* @media only screen and (min-device-width: 360px) and (-webkit-min-device-pixel-ratio: 4) and (orientation: portrait) {}

@media only screen and (min-device-width: 640px) and (-webkit-min-device-pixel-ratio: 4) and (orientation: landscape) {} */

@media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-device-pixel-ratio: 4) {}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {}

/* ================================
   Tablet Styles: 480px and greater
   ================================
*/
@media only screen and (min-width: 481px) {
    ul.mainmenu>li {
        float: left;
        width: 20%;
        position: relative;
    }

    ul.submenu {
        width: 200%;
        box-shadow: rgb(51, 51, 51) 5px 5px 15px;
        position: absolute;
    }
}

/* =================================
   Desktop Styles: 768px and greater
   =================================
*/
@media only screen and (min-width: 768px) {
    ul.submenu {
        background: transparent;
        box-shadow: none;
        display: block;
        position: relative;
        width: 100%;
    }

    nav.horizontal::after {
        clear: both;
        content: "";
        display: table;
    }

    nav.horizontal .dropmenu {
        display: none;
    }

}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}